@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --secondary-background: #63a4ff;
  --tertiary-background: #83eaf1;
  --quaternary-background: #09c7fb;
  --tertiary-faded: rgba(9, 199, 251, 0.3);
  --quaternary-faded: rgba(131, 234, 241, 0.5);
  --primary-border-radius: 5px;
  --circular-border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  position: relative;
  font-family: "Questrial", sans-serif;
  transition: 1s;
  background: #f1f3fe;
  background-image: url("./public/line-3.jpg");
  background-position: center;
  background-size: cover;
}

section {
  padding: 100px 100px;
}

button,
a {
  cursor: pointer;
  font-family: "Questrial", sans-serif;
}

button:focus,
input:focus {
  outline: none;
}

hr {
  margin: 15px 0;
}

ul {
  list-style-type: none;
}
.header {
  margin-bottom: 20px;
  color: var(--secondary-background);
}

#underline {
  height: 10px;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    var(--secondary-background),
    var(--tertiary-background)
  );
}

h2 {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

#nav-btn {
  display: none;
}

.main-nav {
  background: #3eadcf;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 1s;
}

nav > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 36px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

nav #logo {
  margin-right: 10px;
}

nav .nav-links {
  width: 50%;
}

nav .nav-links #signin {
  display: block;
  width: 100px;
  padding: 10px 0;
  background: #132e4d;
  border: none;
  color: white;
  border-radius: var(--primary-border-radius);
  text-align: center;
}

.main-home {
  width: 100%;
  padding: 0;
  background: linear-gradient(to bottom, #3eadcf, #90d5ec, #f1f3fe);
  border-radius: 0 0 40% 40%;
  padding-bottom: 100px;
}

.home {
  width: 100%;
  padding-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
}

.home img {
  width: 60%;
}

.home .primary-text {
  color: white;
  border-radius: var(--primary-border-radius);
}

.home .primary-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.home .primary-text p {
  font-size: 18px;
}

.home .primary-text #get-started {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  border: none;
  border-radius: var(--primary-border-radius);
  color: white;
  background: #132e4d;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
}

.features {
  width: 100%;
  position: relative;
}

.features .feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.features .feature-item {
  width: 100%;
  padding: 25px 35px;
  transition: all 0.5s;
  border-radius: var(--primary-border-radius);
  margin: 10px auto;
  box-shadow: 0 0 10px var(--tertiary-faded);
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.features .feature-item:hover {
  background: linear-gradient(
    to right,
    var(--tertiary-background),
    var(--secondary-background)
  );
}

.features .feature-item:hover svg {
  color: var(--secondary-background);
  background: white;
}

.features h4 {
  font-size: 27px;
  margin-bottom: 15px;
}

.features svg {
  background: linear-gradient(
    to right,
    var(--tertiary-background),
    var(--secondary-background)
  );
  margin: 0 auto;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  border-radius: var(--circular-border-radius);
  padding: 20px;
  color: white;
  transition: all 1s;
}

.features .feature-container article {
  margin-top: 20px;
}

.example {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.example img {
  width: 60%;
  border-radius: var(--primary-border-radius);
  box-shadow: 0 0 5px #f8f7ed;
}

.example #tag-line h3 {
  font-size: 50px;
  margin: 20px 0;
}

.example #tag-line a {
  color: #000000;
  display: block;
  text-align: right;
  font-size: 24px;
  word-spacing: 5px;
}

.example #peek {
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: -130px;
  color: var(--secondary-background);
  transform: rotate(-90deg);
  word-spacing: 10px;
  z-index: 2;
}

.about {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.about .about-content {
  width: 100%;
  margin-bottom: 50px;
}

.about .faq-container {
  text-align: left;
  width: 50%;
}

.about .faq-item {
  margin: 30px 0;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px #d8d8d8;
  padding: 15px 15px;
  border-radius: var(--primary-border-radius);
  color: black;
}

.about .faq-item div {
  display: flex;
  justify-content: space-between;
}

.about .faq-item button {
  border-radius: var(--circular-border-radius);
  background: transparent;
  border: none;
}

.team {
  width: 100%;
  text-align: center;
}

.team p {
  font-size: 18px;
  color: rgb(136, 136, 136);
  margin-bottom: 50px;
}
.team .team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team .member {
  margin: 20px;
  width: 250px;
  height: 250px;
  border-radius: var(--circular-border-radius);
  color: white;
}

.team #profile-pic {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: var(--circular-border-radius);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
}

.member #info {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  border-radius: var(--circular-border-radius);
  background: linear-gradient(
    to right,
    rgba(9, 199, 251, 0.8),
    rgba(131, 234, 241, 0.7)
  );
  position: absolute;
  padding: 30% 5%;
}

.team h3 {
  font-size: 24px;
}

.team .links {
  padding: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.team .links a {
  border: 1px solid white;
  display: block;
  width: 20px;
  margin: 0 10px;
  border: none;
  background: transparent;
}

.team .links svg {
  color: white;
}

.start-now {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 2;
  position: relative;
}

.start-now h3 {
  font-size: 34px;
  margin-bottom: 50px;
}

.start-now a {
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 50%;
  font-size: 24px;
  border-radius: var(--primary-border-radius);
  border: none;
  background: linear-gradient(
    to right bottom,
    var(--secondary-background),
    var(--tertiary-background)
  );
  color: black;
  transition: 0.5s;
  box-shadow: 0 0 5px grey;
}

.apply {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.apply .header {
  width: 100%;
}

.apply .apply-container {
  width: 45%;
  padding: 20px 50px;
  margin: 15px auto;
  border-radius: var(--primary-border-radius);
  background: transparent;
}

.apply h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.apply .requirements {
  margin-top: 30px;
}

.apply .requirements > * {
  margin-bottom: 10px;
  text-align: center;
}

.apply h4 {
  font-size: 18px;
  width: 100%;
}

.apply li {
  margin: 10px 0;
}

.apply a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  border-radius: var(--primary-border-radius);
  background: var(--tertiary-background);
  border: none;
}

.main-footer {
  background: rgb(43, 43, 43);
}

footer {
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 40%;
  padding: 50px 100px;
}

footer h1 {
  font-size: 50px;
}

footer h3 {
  margin-bottom: 15px;
}

footer a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 20px 0;
  line-height: 20px;
}

footer #signup {
  color: #000;
  display: block;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  border-radius: var(--primary-border-radius);
  background: var(--tertiary-background);
  border: none;
}

footer #signup:hover {
  text-decoration: none;
}

footer hr,
footer #rights {
  grid-column: 1 / span 3;
}

@media (min-width: 1280px) {
  nav,
  .home,
  .features,
  .about,
  .team,
  .example,
  .start-now,
  .apply,
  footer {
    width: 1280px;
    margin: 0 auto;
  }
}

@media (max-width: 930px) {
  nav {
    padding: 25px 50px;
  }

  nav .nav-links {
    width: 60%;
  }

  .home .primary-text {
    width: 75%;
  }

  .example {
    display: block;
  }

  .example img {
    width: 100%;
    margin-bottom: 60px;
  }

  .example #tag-line {
    margin: 0 100px;
  }

  .example #tag-line h3 {
    font-size: 50px;
    margin: 20px 0;
  }

  .example #tag-line a {
    font-size: 24px;
  }

  .example #peek {
    font-size: 40px;
    padding: 0;
    position: static;
    transform: none;
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 830px) {
  .features .feature-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  #nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tertiary-faded);
    border-radius: var(--circular-border-radius);
    padding: 5px;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
  }

  svg {
    color: white;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 15px 0;
    margin: 0;
    background: linear-gradient(
      var(--tertiary-background),
      var(--secondary-background),
      var(--tertiary-background)
    );
    transition: 0.5s;
  }

  nav > * {
    display: block;
  }

  nav a {
    color: white;
    text-align: center;
  }

  nav #logo {
    margin-right: 10px;
  }

  nav .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 75%;
    padding: 20px 10px;
  }

  .home {
    flex-direction: column;
    padding: 50px 100px;
    text-align: center;
  }

  .home img {
    width: 100%;
    margin-bottom: 75px;
  }

  .home .primary-text button {
    margin: auto;
  }

  .about .faq-container {
    width: 100%;
  }

  .apply {
    display: block;
  }

  .apply .apply-container {
    width: 100%;
  }

  .start-now button {
    width: 100%;
  }
}

@media (max-width: 615px) {
  .features {
    padding: 0 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .features .feature-container {
    display: flex;
    grid-gap: 0px;
    padding: 0;
  }

  .features .feature-item {
    box-shadow: none;
    text-align: center;
  }

  .features .carousel-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    transition: all 0.5s;
    margin: 0;
  }

  .features .feature-item:hover {
    background: transparent;
  }

  .features .feature-item:hover svg {
    color: white;
    background: linear-gradient(
      to right,
      var(--tertiary-background),
      var(--secondary-background)
    );
  }

  .features button {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 15px;
  }

  .features button svg {
    padding: 0;
    background: transparent;
    color: var(--secondary-background);
  }

  .features .feature-item {
    min-width: 100%;
    padding: 0;
  }

  .features .feature-item:hover {
    transform: none;
  }

  .features h4 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .example #tag-line {
    margin: 0;
  }

  footer {
    display: block;
  }

  footer > div {
    margin: 20px 0;
  }

  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer h3 {
    margin-bottom: 5px;
  }
}

@media (max-width: 450px) {
  section {
    padding: 100px 20px;
  }

  .home {
    overflow: hidden;
    background-position: 90%;
  }

  .home {
    display: flex;
    align-items: center;
  }

  .home .primary-text {
    width: 100%;
    text-align: center;
    background: transparent;
  }

  .home .primary-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .home .primary-text p {
    font-size: 18px;
  }

  .home .primary-text button {
    width: 100%;
    border-width: 5px;
    font-size: 14px;
  }

  .example #tag-line {
    margin: 0 30px;
  }

  .example #tag-line h3 {
    font-size: 30px;
    margin: 20px 0;
  }

  footer {
    padding: 50px 20px;
  }

  footer h3 {
    text-align: center;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
  }
}
